.BiparteImageBlock{
  display: flex;
  flex-direction: column;
}
.BiparteImageBlock img,.BiparteImageBlock span{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.BiparteImageBlock img{
  margin-bottom: .7rem;
}
.BiparteImageBlock span{
  margin-top: .5rem;
}
.ImageBlock{
  width: 8em;
}
.ImageBlock img{
  border-radius: 3px;
  border-width: 1px;
  border-style:solid;
}
.ImageBlock span{
  margin-top: .4em;
  font-weight:normal;
  font-style: italic;
  font-size: 1.1em;
}
.ImageBlock span, .ImageBlock img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.WrappedImageBlockRow{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.WrappedImageBlockRow > * {
  margin-top: 1em;
}
.WrappedImageBlockRow span{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.WrappedImageBlockRow .ImageBlock{

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .ImageBlock{
    width: 8em;
  }
}
@media only screen and (min-width: 1200px) {
  .ImageBlock{
    width: 11em;
  }
}
