.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BoxedLinkRect{
    display:block;
    border-radius: 1px;
    padding: .5em;
}
.FlexColumn{
  display: flex;
  flex-direction: column;
}
.FullScreenWidthLine{
  width:100%;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  height:.16rem;
  background-color: #00B8FF;
}
#root> div{
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
body{
  font-family: sans-serif;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  background-color: #C87E05;
  color:white;
}
img{
  width: 5em;
  height: 5em;
}
.StaggeredTextLines{
  display: flex;
  flex-direction: column;
}
.StaggeredTextLines span{
  margin-top: 1em;
}
.Primary{
  color:black;
  background-color: #e8e8e8;
}
.EmphasisFont{
  color:#00B8FF;
  font-family: 'Permanent Marker', cursive;
}
.LargeBodyFontSize{
  font-size: 4em;
}
.MediumBodyFontSize{
  font-size: 1em;
}
.Secondary{
  color: white;
  background-color:#FFAE42;
}
.Secondary a:link{
  color:white;
}
.Secondary a:visited{
  color:white;
}
.NavBanner{
  position: relative;
  top:0px;
  background-color: #C87E05;
  margin-top: 0px;
  margin-bottom: 0px;
}
.NavBanner >div, .BannerImage >div.Secondary{
  padding-left: 2.2em;
  padding-right: 2.2em;
}
.NavBanner >div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBanner .SingleContactButton{
  margin-top: auto;
  margin-bottom: auto;
}
.NavBanner h1{
  display:inline;
  word-wrap: break-word;
  font-size: 1.4em;
}
.NavBannerLinksDiv{
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}
.NavBannerLinkDiv{
  color: white;
  font-size: .9em;
  margin-right: 2em;
}
.NavBannerLinkDiv a:link{
  color:white;
  text-decoration:none;
}
.NavBannerLinkDiv a:visited{
  color:white;
}

.MainPage{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  background-color: white;
  color: black;
}
.MainPage >div{
  display: flex;flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.CenteredDiv{
    margin-left: auto;
    margin-right: auto;
}
.VerticallyCentered{
    margin-top: auto;
    margin-bottom: auto;
}
.SpaceBetween{
  display: flex !important;
  justify-content: space-between !important;
}
.TopMargin2em{
  margin-top: 2em;
}
.TopBottomMargin2em{
  margin-top: 2em;
  margin-bottom: 2em;
}
.TopBottomMargin1em{
  margin-top: 1em;
  margin-bottom: 1em;
}
.TopBottomMarginHalfem{
  margin-top: .5em;
  margin-bottom: .5em;
}
.LeftRightMargin3em{
  margin-left: 3em;
  margin-right: 3em;
}
.LeftRightMargin1em{
  margin-left: 1em;
  margin-right: 1em;
}
.LeftRightMarginHalfem{
  margin-left: .5em;
  margin-right: .5em;
}
.BannerImage h2{
  font-size: 1.8em;
}
.BannerImage .StaggeredTextLines{
  font-size: 3em;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: .1em;
  padding-bottom: .1em;
}
.BannerImage .StaggeredTextLines span{
  margin-top: .1em;

}
.BannerImage div{
  display: flex;
  align-items: flex-start;
}
.BannerImage > div.Secondary{
  padding:1.5em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  flex-direction: row;
  font-size: 1em;
}
.BannerImage img{
  margin-top: auto;
  margin-bottom: auto;
  width: 10em;
  height: 100%;
  margin-left: 4vw;
}
.FullScreenWidth{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border-radius: 0px;
}
.MissionStatement{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.MissionStatement>div{
  margin-top: 1em;
}
.MissionStatement .MissionStatementOpening h3{
  font-size: 1.4em;
  margin-bottom: .2em;
  margin-top: .2em;
}
.MissionStatementClosing{
  font-size: 1.6em;
  margin-bottom: .01em;
}
.MissionStatementConclusion{
  font-size: 2em;
}
.ServicesPanel{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  text-align: center;
}
.ServicesImageBlock{
  margin-left: 1vw !important;
  margin-right: 1vw !important;
}

.ServicesImageBlock img{
  width: 9em;
  height: 6em;
}
.ServicesBlock{
  max-width: 60%;
}

.BusinessStrategyPanel{
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.BusinessStrategyPanel >h2{
  margin-top: .2vh;
  margin-bottom: .1vh;
}
.SuccessEquation{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
 .StrategyImageBlock{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .ClosingPitchLines{
   display: flex;
   flex-direction: column;
   margin-top: 3vh;
 }

 @media only screen and (min-width: 600px) {
   .NavBanner h1{
     font-size: 1.5em;
   }
   .BannerImage h2{
     font-size: 2em;
   }
   .BannerImage img{
     width: 20em;
     margin-left: 8vw;
   }
   .NavBannerLinkDiv{
     font-size: 1.3em;
   }
   .LargeBodyFontSize{
     font-size: 3em;
   }
   body {
     font-size: 1rem;
   }
   .BannerImage > div.Secondary{
     font-size: 1.4em;
   }

 }
 @media only screen and (min-width: 1200px) {
   .NavBanner h1{
     font-size: 2em;
   }
   .LargeBodyFontSize{
     font-size: 4em;
   }
   body {
     font-size: 1.1rem;
   }
 }
